
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.content-status {
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
    border-radius: 2px;
    align-self: center;
    color: #fff;
    width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.mr-2 {
    margin-right: 0.5rem !important;
}